 
/*画像配置*/
.slideshow{
    max-width: 100%;
    height: 100%;
    background-image: url(一番初めに表示する画像のURL);/*JSで切り替える画像*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;/*左 中央のよせ*/
}
 
